<theme>
    <formatVersion>7</formatVersion>

   <include>./_inc/lang/english.xml</include>
	<include lang="es">./_inc/lang/espanol.xml</include>
	<include lang="es_MX">./_inc/lang/espanol.xml</include>
	<include lang="eu">./_inc/lang/espanol.xml</include>
	<include lang="fr">./_inc/lang/francais.xml</include> 
	<include lang="pt">./_inc/lang/portugues.xml</include>

	<include subset="systemview" name="detailed view" displayName="${systemdetails}">./systemview/details.xml</include>
    <include subset="systemview" name="Horizontal Menu" displayName="${horizontal}">./systemview/hortext.xml</include>
	<include subset="systemview" name="Horizontal Menu alt" displayName="${horizontala}">./systemview/horlogo.xml</include>
	<include subset="systemview" name="Vertical Menu" displayName="${verticalm}">./systemview/vertext.xml</include>
	<include subset="systemview" name="Vertical Menu alt" displayName="${verticalma}">./systemview/verlogo.xml</include>
	<include subset="systemview" name="Vertical Carousel" displayName="${verticalc}">./systemview/rhctext.xml</include>
	<include subset="systemview" name="Vertical Carousel alt" displayName="${verticalca}">./systemview/rhclogo.xml</include>
	<include subset="systemview" name="Reverse Carousel" displayName="${reversec}">./systemview/lhctext.xml</include>
	<include subset="systemview" name="Reverse Carousel alt" displayName="${reverseca}">./systemview/lhclogo.xml</include>


	<include subset="colorset" name="Dark BG" displayName="${darkbg}">./colorsets/dark.xml</include>
	<include subset="colorset" name="Default BG" displayName="${defaultbg}">./colorsets/light.xml</include>
	<include subset="colorset" name="Bella BG" displayName="${bellabg}">./colorsets/bella.xml</include>
	<include subset="colorset" name="System BG" displayName="${systembg}">./colorsets/system.xml</include>
    <include subset="colorset" name="Artflix BG" displayName="${artflixbg}">./colorsets/artflix.xml</include>
	
	<include subset="iconset" name="Default" displayName="${default}">./iconsets/xbox.xml</include>
	<include subset="iconset" name="ARCADE" displayName="${arcade}">./iconsets/arcade.xml</include>
    <include subset="iconset" name="SNES" displayName="${snes}">./iconsets/snes.xml</include>
    <include subset="iconset" name="Playstation" displayName="${psx}">./iconsets/psx.xml</include>
    <include subset="iconset" name="Xbox" displayName="${xbox}">./iconsets/xbox.xml</include>
    <include subset="iconset" name="Xbox Reverse" displayName="${xbox2}">./iconsets/xbox-rev.xml</include>
</theme>
