<theme>
    <formatVersion>4</formatVersion>

    <include>./lang/english.xml</include>
	<include lang="es">./lang/espanol.xml</include>
	<include lang="es_MX">./lang/espanol.xml</include>
	<include lang="eu">./lang/english.xml</include>
	<include lang="fr">./lang/francais.xml</include> 
	<include lang="pt">./lang/portugues.xml</include>

	<include subset="systemview" name="detailed view" displayName="${systemdetails}">./systemview/details.xml</include>
	<include subset="systemview" name="horizontal" displayName="${horizontal}">./systemview/horizontal.xml</include>
	<include subset="systemview" name="carousel left" displayName="${lhc}">./systemview/carousel-left.xml</include>
	<include subset="systemview" name="carousel right" displayName="${rhc}">./systemview/carousel-right.xml</include>

    <include subset="logoset" name="White" displayName="${whitelog}">./logosets/white.xml</include>
    <include subset="logoset" name="Color" displayName="${colorlog}">./logosets/color.xml</include>
    <include subset="logoset" name="Controllers" displayName="${conlog}">./logosets/controllers.xml</include>
    
    <include subset="colorset" name="Artflix BG" displayName="${artflixbg}">./colorsets/artflix.xml</include>
	<include subset="colorset" name="Bella BG" displayName="${bellabg}">./colorsets/bella.xml</include>
	<include subset="colorset" name="System BG" displayName="${systembg}">./colorsets/system.xml</include>
	
	<include subset="iconset" name="Default" displayName="${idefault}">./iconsets/xbox.xml</include>
	<include subset="iconset" name="ARCADE" displayName="${iarcade}">./iconsets/arcade.xml</include>
    <include subset="iconset" name="SNES" displayName="${isnes}">./iconsets/snes.xml</include>
    <include subset="iconset" name="Playstation" displayName="${ipsx}">./iconsets/psx.xml</include>
    <include subset="iconset" name="Xbox" displayName="${ixbox}">./iconsets/xbox.xml</include>
    <include subset="iconset" name="Xbox Reverse" displayName="${ixbox2}">./iconsets/xbox-rev.xml</include>
</theme>
